<h1 class="text-6xl text-center mt-8">Toggle Case Pipe</h1>
<!-- Card Container -->
<div class="p-6 mt-6 grid grid-cols-2">
  <app-card cardTitle="" class="col-span-2">
    <div class="stats shadow">
      <div class="stat">
        <div class="stat-title">Toggle Case Pipe</div>
        <div class="stat-value">{{ name() | toggleCase : upperCase() }}</div>
        <div class="stat-desc">{{ name() }}</div>
      </div>
    </div>
    <div class="card-actions justify-end">
      <button
        class="btn btn-outline btn-warning rounded-sm"
        (click)="upperCase.set(!upperCase())"
      >
        Change Case
      </button>
    </div>
  </app-card>
  <div class="divider col-span-2 my-9"></div>
  <button-list
    [sortBy]="sortBy"
    [searchQuery]="querySearch"
    class="col-span-2"
    >{{ sortBy() }}</button-list
  >
  <app-table
    class="col-span-2"
    [heros]="heros()"
    [sortBy]="sortBy"
    [querySearch]="querySearch"
  ></app-table>
</div>
