<div class="navbar bg-base-100 shadow-sm h-20">
  <div class="flex flex-row items-center flex-1 h-full overflow-hidden">
    <div class="h-full overflow-hidden flex flex-row">
      <img
        class="h-full w-full object-cover"
        src="https://img.pikbest.com/png-images/20241011/majestic-lion-logo-for-luxury-brands_10948905.png!w700wp"
        alt=""
      />
      <img
        class="h-full w-full object-cover"
        src="https://static.vecteezy.com/system/resources/thumbnails/024/553/534/small_2x/lion-head-logo-mascot-wildlife-animal-illustration-generative-ai-png.png"
        alt=""
      />
    </div>
    <a class="btn btn-soft btn-warning text-4xl p-0">PipesApp</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      @for (route of routesNav; track route.path) {
      <li>
        <a
          class="btn btn-outline btn-primary"
          [routerLink]="route.path"
          routerLinkActive="text-success"
          >{{ route.title }}</a
        >
      </li>
      }
    </ul>
  </div>
</div>
