<card-content titleCardComp="Number Pipes">
  <div class="stats stats-vertical lg:stats-horizontal shadow w-auto mx-auto">
    <div class="stat">
      <div class="stat-title">Number '1.2-2'</div>
      <div class="stat-value">{{ totalSells() | number : "1.2-2" }}</div>
      <div class="stat-desc">{{ totalSells() }}</div>
    </div>
    <div class="stat">
      <div class="stat-title">Number '1.0-0'</div>
      <div class="stat-value">
        {{ totalSells() + 15203 | number : "1.0-0" }}
      </div>
      <div class="stat-desc">{{ totalSells() }}</div>
    </div>

    <div class="stat">
      <div class="stat-title">Currency</div>
      <div class="stat-value">
        {{ totalSells() | currency : "COP" : "symbol-narrow" : "1.4-4" }}
      </div>
      <div class="stat-desc">{{ totalSells() }}</div>
    </div>
    <div class="stat">
      <div class="stat-title">Percent</div>
      <div class="stat-value">
        {{ percent() | percent : "1.1-2" }}
      </div>
      <div class="stat-desc">{{ percent() }}</div>
    </div>
  </div>
</card-content>
