<div class="overflow-x-auto">
  <table class="table table-xs">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
        <th>Can Fly ?</th>
        <th>Color</th>
        <th>Creator</th>
      </tr>
    </thead>
    <tbody>
      @for (hero of heros() | heroFilter : querySearch() | heroSortBy: sortBy()
      ; track hero.id) {
      <tr>
        <th>{{ hero.id }}</th>
        <td>{{ hero.name }}</td>
        <td>
          <span
            class="text-xs w-70"
            [class.text-success]="hero.canFly"
            [class.text-error]="!hero.canFly"
          >
            {{ hero.canFly | canFly }}
          </span>
        </td>
        <td [style.color]="hero.color | heroTextColor">
          {{ hero.color | heroColor | titlecase }}
        </td>
        <td
          [class.text-sky-600]="hero.creator === 0"
          [class.text-fuchsia-500]="hero.creator === 1"
        >
          {{ hero.creator | heroCreator }}
        </td>
      </tr>
      }
    </tbody>

    <tfoot>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Fly?</th>
        <th>Color</th>
        <th>Creator</th>
      </tr>
    </tfoot>
  </table>
</div>
